<div class="container mt-3">
  <div class="row">
    <div class="col-sm-4">
      <h1>Edycja</h1>
    </div>
    <div class="col-sm-8">
      <div *ngIf="editForm.dirty" class="alert alert-info">
        <strong>Informacja:</strong> Dokonałeś zmian. Niezapisane zmiany zostaną
        utracone.
      </div>
    </div>
  </div>

  <!-- to fix - add photo component -->
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img src="{{ photoUrl || '../../../../../assets/no_user.jpg' }}" class="card-img-top" alt="{{ user.userName }}"
          id="userImage" />
        <div class="class-row user-icons animate">
          <span class="btn btn-success btn-file mr-1">
            <i class="fa fa-edit"></i>
            <input type="file" ng2FileSelect [uploader]="uploader" (change)="onFileChanged($event)" />
          </span>
          <button class="btn btn-danger btn-file mr-1" (click)="deletePhoto(user.id)">
            <i class="fa fa-trash"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <form #editForm="ngForm" id="editForm" (ngSubmit)="updateUser()">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-6">
              <div>
                <h5>Imię: {{ user.userName | titlecase }}</h5>
                <!-- <textarea [disabled]="true" class="form-control" name="userName" rows="1"
                  [(ngModel)]="user.userName"></textarea> -->
              </div>
              <div>
                <h5>Data urodzenia:</h5>
                <input type="date" class="form-control" name="dateOfBirth" value="21-12-2020"
                  [(ngModel)]="user.dateOfBirth" />
              </div>
              <div class="form-group mt-2">
                <h5>Płeć:</h5>
                <div>
                  <label class="radio-inline">
                    <input type="radio" class="mr-2 " [(ngModel)]="user.gender" value="male" name="gender" />
                    Mężczyzna
                  </label>
                  <label class="radio-inline m1-3">
                    <input type="radio" class="ml-2 " [(ngModel)]="user.gender" value="female" name="gender" />
                    Kobieta
                  </label>
                </div>
              </div>
              <div>
                <small>Aktywny od: {{ user.created | date: "dd/mm/yyyy" }}</small>
              </div>
              <div>
                <small>Ostatnia aktywność: {{ user.lastActive | timeAgo }}</small>
              </div>
            </div>
            <div class="col-sm-6">
              <h5>Miejsce: <strong>#9999</strong></h5>
              <h5 class="card-title">
                Najlepszy wynik:
                <strong>{{ user.bestResult | number: "1.1-2" }}</strong>
              </h5>
              <h5 class="card-title">
                Średnia z wyników:
                <strong>{{ user.averageResult | number: "1.1-2" }}</strong>
              </h5>
            </div>
          </div>
          <div class="row mt-3">
            <h5>Opis:</h5>
            <textarea class="form-control" name="description" rows="5" [(ngModel)]="user.description"></textarea>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="card-footer mt-3">
    <div class="text-center">
      <button [disabled]="!editForm.dirty" form="editForm" class="btn btn-primary">
        Zapisz zmiany
      </button>
    </div>
  </div>

  <app-user-results [results]="user.results"></app-user-results>
</div>