<div class="container mt-3">
  <div class="row">
    <div class="col-sm-4">
      <h1>Edycja</h1>
    </div>
    <div class="col-sm-8">
      <div *ngIf="editForm.dirty" class="alert alert-info">
        <strong>Informacja:</strong> Dokonałeś zmian. Niezapisane zmiany zostaną
        utracone.
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img src="{{ photoUrl }}" class="card-img-top" alt="{{ user.userName }}" id="userImage" />
        <div class="class-row user-icons animate">
          <span class="btn btn-success btn-file mr-1">
            <i class="fa fa-edit"></i>
            <input type="file" ng2FileSelect [uploader]="uploader" (change)="onFileChanged($event)" />
          </span>
          <span class="btn btn-danger btn-file mr-1">
            <i class="fa fa-trash"></i>
            <input type="file" ng2FileSelect [uploader]="uploader" />
          </span>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <form #editForm="ngForm" id="editForm" (ngSubmit)="updateUser()">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-6">
              <div>
                <h5>Imię:</h5>
                <textarea [disabled]="true" class="form-control" name="userName" rows="1"
                  [(ngModel)]="user.userName"></textarea>
              </div>
              <div>
                <h5>Wiek:</h5>
                <textarea [disabled]="true" class="form-control" name="age" rows="1" [(ngModel)]="user.age"></textarea>
              </div>
              <div>
                <h5>Płeć:</h5>
                <textarea class="form-control" name="gender" rows="1" [(ngModel)]="user.gender"></textarea>
              </div>
            </div>
            <div class="col-sm-6">
              <h5>Miejsce: <strong>#9999</strong></h5>
              <h5 class="card-title">
                Najlepszy wynik:
                <strong>{{ user.bestResult | number: "1.1-2" }}</strong>
              </h5>
              <h5 class="card-title">
                Średnia z wyników:
                <strong>{{ user.averageResult | number: "1.1-2" }}</strong>
              </h5>
            </div>
          </div>
          <div class="row mt-3">
            <h5>Opis:</h5>
            <textarea class="form-control" name="description" rows="5" [(ngModel)]="user.description"></textarea>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="card-footer mt-3">
    <div class="text-center">
      <button [disabled]="!editForm.dirty" form="editForm" class="btn btn-primary">
        Zapisz zmiany
      </button>
    </div>
  </div>

  <app-user-results [results]="user.results"></app-user-results>
</div>