<div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-md-5 mt-1 ml-1 card-img-wrapper">
      <img src="{{ user.photoUrl }}" class="card-img" alt="{{ user.userName }}" />
    </div>
    <div class="col-md-6">
      <div class="card-body p-2">
        <h1 class="card-text"># {{ user.id }}</h1>
        <h5 class="card-title"><i class="fa fa-user"></i> {{ user.userName | titlecase }}, {{ user.age }}</h5>
        <p class="card-text">Best score: {{ user.bestResult | number:'1.1-2' }}</p>
        <p class="card-text">
          <small class="text-muted">Average score: {{ user.averageResult | number:'1.1-2' }}</small>
        </p>
      </div>
    </div>
  </div>
</div>