<div class="container mt-3">
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img src="{{ user.photo.url || '../../../../../assets/no_user.jpg' }}" class="card-img-top"
          alt="{{ user.userName }}" />
      </div>
    </div>

    <div class="col-sm-8">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-6">
            <h5># <strong>{{ user.place }}</strong></h5>
            <h5>Imię: <strong>{{ user.userName | titlecase }}</strong></h5>
            <p>Wiek: <strong>{{ user.age }}</strong></p>
            <p>Płeć: <strong>{{ user.gender }}</strong></p>
            <p>
              <small>Użytkownik od: <strong>{{ user.created | date: "dd - MM - yyyy"}}</strong></small>
            </p>
            <p>
              <small>Ostatnia aktywność: {{ user.lastActive | timeAgo}}</small>
            </p>
          </div>
          <div class="col-sm-6">
            <h5 class="card-title">
              Najlepszy wynik: <strong>{{ user.bestResult | number: "1.1-2" }}</strong>
            </h5>
            <h5 class="card-title">
              Średnia z wyników: <strong>{{ user.averageResult | number: "1.1-2" }}</strong>
            </h5>
          </div>
        </div>
        <div class="row mt-3">
          <p class="card-text">{{ user.description }}</p>
        </div>
      </div>
    </div>
  </div>

  <app-user-results [results]='user.results'></app-user-results>

</div>